body{

margin:0;

background:#050505;

}

img{

display:block;

max-width:100%;

}

section{

width:100%;

}

h1{

font-weight:800;

}

h2{

font-weight:700;

}

p{

line-height:1.7;

color:#c8c8c8;

}

input{

outline:none;

}

@media(max-width:900px){

.container{

width:95%;

}

}

@media(max-width:768px){

body{

font-size:15px;

}

}

@media(max-width:500px){

body{

font-size:14px;

}

}